<div class="container">
<div class="footer">
  <div class="col-10">
    <div class="footer-copyright">
      Doações <i class="fas fa-hands"></i> Sociais
    </div>
  </div>
  <div class="col-2">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
</div>