<%= image_tag attachments['logo.png'].url, height: '40', width: '40' %>
<div class="col-4">

<p>Olá <strong><%= @request.user.first_name.capitalize %> <%= @request.user.first_name.capitalize %></strong> !</p>

<p>Conforme solicitado, a entidade deve formalizar processo digital no qual deverá constar: </p> 

<p> 1 - Ofício destinado ao dirigente da respectiva unidade local da Receita Federal que jurisdiciona o município  da sede da entidade; ou ao Superintendente da respectiva Região Fiscal. </p>

<p> 2 - Documentação necessária em anexo.</p>
<%= image_tag attachments['docs.doc'].url, alt: "ANEXAR DOC" %>

<p> Os endereços das Unidades Centrais, regionais e locais da Receita Federal encontram-se no caminho: https://receita.economia.gov.br/sobre/institucional/quem-e-quem. </p>

<p>O encaminhamento deve ser feito em até 30 (trinta) dias depois de notificada sob pena de a solicitação ser arquivada.</p>

<p>A Receita Federal do Brasil agradece pelo seu contato!</p>

</div>