
<p>A instituição deve formalizar processo digital no qual deverá constar:</p>

<p> 1 - Ofício destinado ao dirigente da respectiva unidade local da Receita Federal que jurisdiciona o município  da sede da entidade; ou ao Superintendente da respectiva Região Fiscal. </p>

<p> 2 - Resumo Documentação: <%= link_to "Baixar", 'https://receita.economia.gov.br/sobre/acoes-e-programas/mercadorias-apreendidas/doacao-e-incorporacoes/arquivos-e-imagens/documentacao-necessaria-_-osc.doc', class: 'btn btn-primary' %></p>

<p> Os endereços das Unidades Centrais, regionais e locais da Receita Federal encontram-se no caminho: <%= link_to "Unidades", 'https://receita.economia.gov.br/sobre/institucional/quem-e-quem', class: 'btn btn-outline-primary' %> </p>

<p>O encaminhamento deve ser feito em até <strong>30 (trinta) dias</strong> após a reserva da mercadoria sob pena de a solicitação ser arquivada.</p>

<p>A Receita Federal do Brasil agradece pelo seu contato!</p>
