<div class="container col-5">
  <div class="mp-2">
  <h1 class="text-center mt-4">Editar Requisição nº <%= @request.id %></h1>
  <p class="text-center">Atualize nos campos abaixo as informações de interesse.</p>
  </div>
  <%= render 'form', request: @request %>
  <%#= link_to 'Requisições', requests_path(request) %>
</div>