<div class="container col-5">
  <div class="mp-2">
  <h1 class="text-center mb-4">Editar Requisição</h1>
  <p class="text-center">Atualize nos campos abaixo as informações de interesse.</p>
  </div>
  <%= render 'form', request: @request %>
</div>