<div class="container d-flex justify-content-around">
  <div class="justify-content-center">
    <h1>Requests</h1>
  </div>
</div>

<div class="container d-flex">
  <div class="container">
    <div class="row">
      <% @requests.each do |request| %>
        <div class="col-12 col-md-6 col-lg-6">
          <% if request.photo.attached? %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path request.photo.key, height: 200, width: 250,:crop=>"fill" %>);">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url ("entidadesocial.jpg")%>);">
          <% end %>
              <div class="card-description">
                <h2><%= request.category %></h2>
              </div>
            <%= link_to "", request_path(request), class: 'card-link' %>
            </div>
        </div>
      <% end %>
    </div>  
  </div>

</div>