<div class="container col-5">
  <div class="mp-2">
  <h1 class="text-center mb-4">Novo Requerimento</h1>
  <p class="text-center">Informe nos campos abaixo as mercadorias de interesse da entidade.</p>
  </div>
  <%= render 'form', request: @request %>
</div>