<%# <h1>Pages#home</h1> %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Portal de Destinação de Mercadorias da Receita Federal do Brasil.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row my-5">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Digite seu email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Cadastre-se!</button>
              </div>
            </div>
          </form>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cykt9ngzbkA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-desktop m-auto text-primary"></i>
            </div>
            <h3>Entidade Social</h3>
            <p class="lead mb-0">Acompanhe aqui seus pedidos !</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-layer-group m-auto text-primary"></i>
            </div>
            <h3>Servidor RFB</h3>
            <p class="lead mb-0">Gerencie o estoque e acompanhe a lista de pedidos!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="far fa-chart-bar m-auto text-primary"></i>
            </div>
            <h3>Transparência</h3>
            <p class="lead mb-0">Resultados dos útimos anos!</p>
          </div>
        </div>
      </div>
    </div>
</section>
