<div class="banner" style="background-color: #010153">
  <div class="container">
    <div class="col-md-12 col-lg-12 col-xl-12 mx-auto">
      <h1>Portal de <strong>Destinação de Mercadorias</strong> </h1>
      <p>Sistema de registro e controle de Destinação de Mercadorias da Receita Federal do Brasil</p>
      <form>
        <div class="form-row my-3 align-center">
          <div class="col-8 col-md-6 mb-2 mb-md-0">
            <input type="email" class="form-control form-control-lg" placeholder="Digite seu email...">
          </div>
          <div class="col-4 col-md-4">
            <button type="submit" class="btn btn-lg btn-primary">Cadastre-se!</button>
          </div>
        </div>
      </form>
      <div>
        <iframe width="480" height="270" src="https://www.youtube.com/embed/cykt9ngzbkA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-desktop m-auto text-primary"></i>
            </div>
            <h3><%= link_to 'Entidade Social', requests_path %></h3>
            <p class="lead mb-0"><%= link_to '', requests_path %>Acompanhe aqui suas requisições!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-layer-group m-auto text-primary"></i>
            </div>
            <h3><%= link_to 'Servidor RFB', orders_path %></h3>
            <p class="lead mb-0"> Gerencie o estoque e a lista de ordens!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="far fa-chart-bar m-auto text-primary"></i>
            </div>
            <h3><%= link_to 'Transparência', products_path %></h3>
            <p class="lead mb-0">Resultados dos útimos anos!</p>
          </div>
        </div>
      </div>
    </div>
</section>
