.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 60vh;
}

.banner h1 {
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 75.6%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}