.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 0px 50px;
  color: white;
  background: #010153;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 28px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}
.footer .fa-hands {
  color: white;
}
