header.masthead {
  position: relative;
  // background-color: $gray-800;
  // background: url('../img/bg-masthead.jpg') no-repeat center center;
  // @include background-cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
      // background-image: 'app/assets/images/banner_rfb_blur2.jpeg';
  .overlay {
    position: absolute;
    background-color: darkblue;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }
}
