<div class="container w-25 mt-3">
  <div>
      <h2 class="text-center">Categorias</h2>
  </div>
  <div class="row">
    <table class="table table-bordered table-striped mx-3">
      <thead class="thead-light text-center">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Símbolo</th>
        </tr>
      </thead>
      <% @categories.each do |cat| %>
        <tr>
          <td class="text-center"><%= cat.id %></td>
          <td><%= cat.name %></td>
          <% if cat.id == 1 %>
            <td class="text-center width: 12px"><i class="fas fa-car"></i></td>
          <% elsif cat.id == 2 %>
            <td class="text-center"><i class="fas fa-laptop"></i></td>
          <% elsif cat.id == 3 %>
            <td class="text-center"><i class="fas fa-mobile-alt"></i></td>
          <% elsif cat.id == 4 %>
            <td class="text-center"><i class="fas fa-tshirt"></i></td>
          <% elsif cat.id == 5 %>
            <td class="text-center"><i class="fas fa-motorcycle"></i></td>
          <% elsif cat.id == 6 %>
            <td class="text-center"><i class="fas fa-truck-pickup"></i></td>
          <% elsif cat.id == 7 %>
            <td class="text-center"><i class="fas fa-robot"></i></td>
          <% elsif cat.id == 8 %>
            <td class="text-center"><i class="fas fa-gamepad"></i></td>
          <% elsif cat.id == 9 %>
            <td class="text-center"><i class="far fa-gem"></i></td>
          <% else %>
            <td class="text-center"><i class="fas fa-headphones"></i></td>
          <% end %>
          </tr>
      <% end %>
    </table>
  </div>
