<div class="container d-flex justify-content-around my-5">
  <div class="row col-8 col-md-4 col-lg-4">
    <h2>Categorias:</h2>
  </div>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-8 col-md-4 col-lg-4">
        <div class="card-description">
          <p><%= category.id %> - <%= category.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
