<div class="container">
  <h1 class="text-center">Editar produto</h1>

  <%= render 'form', product: @product %>
  <%= link_to 'Cancelar', @product %> |
  <%= link_to 'Voltar', products_path %>
</div>
