<% if current_user.role == 'RFB' %>
  <div class="container w-50 mt-3">
    <h1 class="text-center">Editar mercadoria</h1>

    <%= render 'form', product: @product %>
    <%= link_to 'Cancelar', @product %> |
    <%= link_to 'Mercadorias', products_path %>
  </div>
<% end %>
