<div class="container mt-3">
  <h1 class="text-center">Editar produto</h1>

  <%= render 'form', product: @product %>
  <%= link_to 'Cancelar', @product %> |
  <%= link_to 'Ir para produtos', products_path %>
</div>
