<% if current_user.role == 'RFB' %>
  <div class="container w-50 mt-3">
    <h1 class="text-center">Cadastrar mercadoria</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Voltar', products_path %>
  </div>
<% end %>
